In [ ]:
"""
Database Handling
1.sqlite 
2.mysql 
3.mysql online 
4.mongodb
5.mongo atlas
"""

### Database handling using sqlite

In [17]:

import sqlite3
from pandas import DataFrame

# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = sqlite3.connect ( 'employee.db' )

# creating cursor
c = conn.cursor()

#Delete the table
c.execute("DROP TABLE employees")  ## sql quary in the bracket
conn.commit()

# STEP 1
# www.sqlite.org/datatype3.html
c.execute ("""CREATE TABLE employees(
          id INTEGER,
          first TEXT,
          last TEXT, 
          pay INTEGER
          )"""
          )
conn.commit()

# STEP 2
c.execute("INSERT INTO employees VALUES (01,'Sylvester', 'Fernandes', 50000)")
c.execute("INSERT INTO employees VALUES (02,'Yogendra', 'Singh', 70000)")
c.execute("INSERT INTO employees VALUES (03,'Rohit', 'Mishra', 30000)")
c.execute("INSERT INTO employees VALUES (04,'Kunal', 'Vaid', 30000)")
c.execute("INSERT INTO employees VALUES (05,'Devendra', 'Shekhawat', 30000)")

conn.commit()     ## do commit only when we create and insert values in table


# STEP 3
c.execute("SELECT * FROM employees")  ## only reading the data so no commit required

In [18]:
# STEP 4
# returns one or otherwise None as a tuple
print ( c.fetchone(),'\n') 

# returns one or otherwise None as a tuple
print ( c.fetchmany(2),'\n') 

# returns a list of tuples
print ( c.fetchall() )

(1, 'Sylvester', 'Fernandes', 50000)

[(2, 'Yogendra', 'Singh', 70000), (3, 'Rohit', 'Mishra', 30000)]

[(4, 'Kunal', 'Vaid', 30000), (5, 'Devendra', 'Shekhawat', 30000)]

In [19]:
# Since now the cursor has read all the rows and we are at End
# So again fetching the records from the database
c.execute("SELECT * FROM employees")

# STEP 5
df = DataFrame(c.fetchall(), columns = ["id","first","last","pay"])  # putting the result into Dataframe
df.to_csv("employee.csv")

# STEP 6
# closing the connection 
conn.close()

# database has closed so cannot fetch any data
# print ( c.fetchone())

### Database handling using MySQL on Local Machine

In [ ]:
"""
old technique
# use below command in anaconda prompt
# conda install mysql-connector
# pip install --upgrade pip 
# pip install -U setuptools
# pip install -U wheel
# pip install protobuf
# pip install mysql-connector-python-rf
# pip install argparse
"""

# use below command in anaconda prompt
# pip install mysql-connector-python

from pandas import DataFrame
import mysql.connector


# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = mysql.connector.connect ( user='root', password='', host='localhost')
# database = '' can be used if we want to connect to already defined database


# creating cursor
c = conn.cursor()

# STEP 0 if exists
c.execute("DROP DATABASE IF EXISTS employee;")
conn.commit()

# STEP 1
c.execute("CREATE DATABASE employee;")
conn.commit()

# STEP 2
c.execute("USE employee;")
conn.commit()

# STEP 3
c.execute ("""CREATE TABLE employees(
          id INTEGER,
          first  TEXT,
          last TEXT,
          pay INTEGER
          )""")
conn.commit()


# STEP 4
c.execute("INSERT INTO employees VALUES (01,'Sylvester', 'Fernandes', 50000)")
c.execute("INSERT INTO employees VALUES (02,'Yogendra', 'Singh', 70000)")
c.execute("INSERT INTO employees VALUES (03,'Rohit', 'Mishra', 30000)")
c.execute("INSERT INTO employees VALUES (04,'Kunal', 'Vaid', 30000)")
c.execute("INSERT INTO employees VALUES (05,'Devendra', 'Shekhawat', 30000)")

conn.commit()
# c.execute("INSERT INTO employee VALUES ({},'{}', '{}', {})".format(idd, first,last,pay))


c.execute("SELECT * FROM employees")

# STEP 5
# returns one or otherwise None as a tuple
print ( c.fetchone()) 

# returns one or otherwise None as a tuple
print ( c.fetchmany(2)) 

# returns a list of tuples
print ( c.fetchall() )


# Since now the cursor has read all the rows and we are at End
# So again fetching the records from the database
c.execute("SELECT * FROM employees")


# STEP 6
df = DataFrame(c.fetchall())  # putting the result into Dataframe
df.columns = ["id","first","last","pay"]

# field_names = [i[0] for i in c.description]
# print field_names

conn.close()