### MySQL on Local Machine

In [19]:
"""
Code Challenge 1
Write a python code to insert records to a mysql
named db_University for 10 students with fields like 
Student_Name, Student_Age, Student_Roll_no, Student_Branch.

"""

from pandas import DataFrame
import mysql.connector

## data of students
branch= ['CSE','ECE','EE','ME','CE']
St_Name= ['suraj','rajesh','sandeep','yogendra','ravi','mohit','kamesh','dinesh','rishabh','nimesh']
St_Age= [25, 21, 22, 20, 21, 22, 20, 20, 22, 23]
St_Roll_no= [11, 22, 12, 21, 24, 6, 6, 25, 16, 22]
St_Branch= ['CSE', 'CE', 'ME', 'CSE', 'ME', 'ECE', 'EE', 'CSE', 'CE', 'CSE']

# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = mysql.connector.connect ( host='localhost', user='root', passwd='surya321' )
# database = '' can be used if we want to connect to already defined database

# creating cursor
c = conn.cursor()

In [20]:
c.execute("show databases")  # command to show all databases
for i in c:
    print(i)

('db_university',)
('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [21]:
## STEP 0 if exists
c.execute("DROP DATABASE IF EXISTS db_University;")
conn.commit()

In [22]:
c.execute("show databases")
for i in c:
    print(i)

('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [23]:

# STEP 1
c.execute("CREATE DATABASE db_University;")
conn.commit()

# STEP 2
c.execute("USE db_University;")
conn.commit()

# STEP 3
c.execute ("""CREATE TABLE student(
          id INTEGER,
          rollno INTEGER,
          name TEXT, 
          age INTEGER,
          branch TEXT
          )"""
          )
conn.commit()


# STEP 4
# c.execute("INSERT INTO student VALUES ({},'{}', '{}', {})".format(idd, first,last,pay))

for i in range(10):
    query= "INSERT INTO student VALUES ({},{},'{}',{},'{}')".format(i+1, St_Roll_no[i], St_Name[i], St_Age[i], St_Branch[i]  ) 
    c.execute(query)

conn.commit()    ## do commit only when we create and insert values in table

In [24]:

c.execute("SELECT * FROM student;")

# STEP 5
# returns one or otherwise None as a tuple
print ( c.fetchone(),'\n') 

# returns a list of tuples
print ( c.fetchall() )

# Since now the cursor has read all the rows and we are at End
# So again fetching the records from the database
c.execute("SELECT * FROM student;")


# STEP 6
df = DataFrame(c.fetchall(), columns = ["id","Roll No","Name","Age","Branch"])  # putting the result into Dataframe
print(df)
# field_names = [i[0] for i in c.description]
# print field_names

conn.close()

(1, 11, 'suraj', 25, 'CSE')

[(2, 22, 'rajesh', 21, 'CE'), (3, 12, 'sandeep', 22, 'ME'), (4, 21, 'yogendra', 20, 'CSE'), (5, 24, 'ravi', 21, 'ME'), (6, 6, 'mohit', 22, 'ECE'), (7, 6, 'kamesh', 20, 'EE'), (8, 25, 'dinesh', 20, 'CSE'), (9, 16, 'rishabh', 22, 'CE'), (10, 22, 'nimesh', 23, 'CSE')]
   id  Roll No      Name  Age Branch
0   1       11     suraj   25    CSE
1   2       22    rajesh   21     CE
2   3       12   sandeep   22     ME
3   4       21  yogendra   20    CSE
4   5       24      ravi   21     ME
5   6        6     mohit   22    ECE
6   7        6    kamesh   20     EE
7   8       25    dinesh   20    CSE
8   9       16   rishabh   22     CE
9  10       22    nimesh   23    CSE