### Student Database

In [18]:
"""
Code Challenge 1
Write a python code to insert records to a sqlite
named db_University for 10 students with fields like 
Student_Name, Student_Age, Student_Roll_no, Student_Branch.

"""

import random
import sqlite3
from pandas import DataFrame

## data of students
branch= ['CSE','ECE','EE','ME','CE']
St_Name= ['suraj','rajesh','sandeep','yogendra','ravi','mohit','kamesh','dinesh','rishabh','nimesh']
St_Age= [ random.randint(20,25) for i in range(10) ]
St_Roll_no= [ random.randint(5,25) for i in range(10)]
St_Branch= [ random.choice(branch) for i in range(10)]

# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = sqlite3.connect ( 'db_University.db' )

# creating cursor
c = conn.cursor()

if c.execute("SELECT * FROM student"):
    #Delete the table
    c.execute("DROP TABLE student")  ## sql quary in the bracket
    conn.commit()
    

# STEP 1
# www.sqlite.org/datatype3.html
c.execute ("""CREATE TABLE student(
          id INTEGER,
          rollno INTEGER,
          name TEXT, 
          age INTEGER,
          branch TEXT
          )"""
          )
conn.commit()


# STEP 2
for i in range(10):
    query= "INSERT INTO student VALUES ({},{},'{}',{},'{}')".format(i+1, St_Roll_no[i], St_Name[i], St_Age[i], St_Branch[i]  ) 
    c.execute(query)

conn.commit()   ## do commit only when we create and insert values in table


# STEP 3
c.execute("SELECT * FROM student")  ## only reading the data so no commit required

# STEP 4
# returns one or otherwise None as a tuple
print ( c.fetchone(),'\n') 

# returns one or otherwise None as a tuple
print ( c.fetchmany(2),'\n') 

# returns a list of tuples
print ( c.fetchall() )


# Since now the cursor has read all the rows and we are at End
# So again fetching the records from the database
c.execute("SELECT * FROM student")


# STEP 5
df = DataFrame(c.fetchall(), columns = ["id","Roll No","Name","Age","Branch"])  # putting the result into Dataframe
#df.to_csv("student_details.csv")


# STEP 6
# closing the connection 
conn.close()

#print ( c.fetchone())   cannot access after closing the conection

(1, 22, 'suraj', 20, 'CSE')

[(2, 9, 'rajesh', 22, 'EE'), (3, 15, 'sandeep', 23, 'CE')]

[(4, 25, 'yogendra', 25, 'CSE'), (5, 14, 'ravi', 23, 'CSE'), (6, 9, 'mohit', 21, 'CE'), (7, 9, 'kamesh', 20, 'CE'), (8, 5, 'dinesh', 25, 'ECE'), (9, 8, 'rishabh', 20, 'ME'), (10, 9, 'nimesh', 21, 'ME')]