### Student Database

In [18]:
"""
Code Challenge 1
Write a python code to insert records to a sqlite
named db_University for 10 students with fields like 
Student_Name, Student_Age, Student_Roll_no, Student_Branch.

"""

import random
import sqlite3
from pandas import DataFrame

## data of students
branch= ['CSE','ECE','EE','ME','CE']
St_Name= ['suraj','rajesh','sandeep','yogendra','ravi','mohit','kamesh','dinesh','rishabh','nimesh']
St_Age= [ random.randint(20,25) for i in range(10) ]
St_Roll_no= [ random.randint(5,25) for i in range(10)]
St_Branch= [ random.choice(branch) for i in range(10)]

# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = sqlite3.connect ( 'db_University.db' )

# creating cursor
c = conn.cursor()

if c.execute("SELECT * FROM student"):
    #Delete the table
    c.execute("DROP TABLE student")  ## sql quary in the bracket
    conn.commit()
    

# STEP 1
# www.sqlite.org/datatype3.html
c.execute ("""CREATE TABLE student(
          id INTEGER,
          rollno INTEGER,
          name TEXT, 
          age INTEGER,
          branch TEXT
          )"""
          )
conn.commit()


# STEP 2
for i in range(10):
    query= "INSERT INTO student VALUES ({},{},'{}',{},'{}')".format(i+1, St_Roll_no[i], St_Name[i], St_Age[i], St_Branch[i]  ) 
    c.execute(query)

conn.commit()   ## do commit only when we create and insert values in table


# STEP 3
c.execute("SELECT * FROM student")  ## only reading the data so no commit required

# STEP 4
# returns one or otherwise None as a tuple
print ( c.fetchone(),'\n') 

# returns one or otherwise None as a tuple
print ( c.fetchmany(2),'\n') 

# returns a list of tuples
print ( c.fetchall() )


# Since now the cursor has read all the rows and we are at End
# So again fetching the records from the database
c.execute("SELECT * FROM student")


# STEP 5
df = DataFrame(c.fetchall(), columns = ["id","Roll No","Name","Age","Branch"])  # putting the result into Dataframe
#df.to_csv("student_details.csv")


# STEP 6
# closing the connection 
conn.close()

#print ( c.fetchone())   cannot access after closing the conection

(1, 22, 'suraj', 20, 'CSE')

[(2, 9, 'rajesh', 22, 'EE'), (3, 15, 'sandeep', 23, 'CE')]

[(4, 25, 'yogendra', 25, 'CSE'), (5, 14, 'ravi', 23, 'CSE'), (6, 9, 'mohit', 21, 'CE'), (7, 9, 'kamesh', 20, 'CE'), (8, 5, 'dinesh', 25, 'ECE'), (9, 8, 'rishabh', 20, 'ME'), (10, 9, 'nimesh', 21, 'ME')]

### ICC Database

In [20]:
## ICC_ODI ranking

import sqlite3
import pandas as pd

# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = sqlite3.connect ('ICC.db')
c = conn.cursor()        # creating cursor

if c.execute("SELECT * FROM icc_odi"):
    #Delete the table
    c.execute("DROP TABLE icc_odi")    ## sql quary in the bracket
    conn.commit()

c.execute ("""CREATE TABLE icc_odi(
          Rank INTEGER,
          Team TEXT,
          Weighted Matches INTEGER, 
          Points INTEGER,
          Rating INTEGER
          )"""
          )
conn.commit()

df = pd.read_csv("icc_odi.csv")   ## Read csv file

## Insert the values from the csv file into the table 'icc_odi'
df.to_sql('icc_odi', conn, if_exists='replace', index = False) 

c.execute("SELECT * FROM icc_odi")    ## fatching the data from database-> table-> icc_odi

for i in c.fetchmany(5):
    print(i)
print()

c.execute("SELECT * FROM icc_odi")   ## again goes to first row

# putting the data from table icc_odi into Dataframe for proper represention
df2 = pd.DataFrame(c.fetchall(), columns = ["id","Rank","Team","Weighted Matches","Points","Rating"])  
#print(df2)

df3= df2.iloc[:, 1:]
print(df3)

#df.to_csv("employee.csv")
conn.close()

(0, 1, 'England', 56, '6,967', 124)
(1, 2, 'India', 67, '7,939', 118)
(2, 3, 'New Zealand', 46, '5,347', 116)
(3, 4, 'South Africa', 50, '5,602', 112)
(4, 5, 'Australia', 54, '5,915', 110)

    Rank              Team  Weighted Matches Points  Rating
0      1           England                56  6,967     124
1      2             India                67  7,939     118
2      3       New Zealand                46  5,347     116
3      4      South Africa                50  5,602     112
4      5         Australia                54  5,915     110
5      6          Pakistan                51  5,019      98
6      7        Bangladesh                47  4,059      86
7      8         Sri Lanka                59  4,910      83
8      9       West Indies                61  4,767      78
9     10       Afghanistan                43  2,440      57
10    11           Ireland                31  1,525      49
11    12          Zimbabwe                36  1,572      44
12    13       Netherlands                 6    222      37
13    14              Oman                14    479      34
14    15          Scotland                18    537      30
15    16             Nepal                12    237      20
16    17           Namibia                11    177      16
17    18               UAE                21    285      14
18    19     United States                16    185      12
19    20  Papua New Guinea                17      0       0

In [3]:
## ICC_T20 ranking

import sqlite3
import pandas as pd

# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = sqlite3.connect ('ICC.db')
c = conn.cursor()        # creating cursor

if c.execute("SELECT * FROM icc_t20"):
    #Delete the table
    c.execute("DROP TABLE icc_t20")    ## sql quary in the bracket
    conn.commit()

c.execute ("""CREATE TABLE icc_t20(
          Rank INTEGER,
          Team TEXT,
          Weighted Matches INTEGER, 
          Points INTEGER,
          Rating INTEGER
          )"""
          )
conn.commit()

df = pd.read_csv("icc_t20.csv")   ## Read csv file

## Insert the values from the csv file into the table 'icc_t20'
df.to_sql('icc_t20', conn, if_exists='replace', index = False) 

c.execute("SELECT * FROM icc_t20")    ## fatching the data from database-> table-> icc_t20

for i in c.fetchmany(5):
    print(i)
print()

c.execute("SELECT * FROM icc_t20")   ## again goes to first row

# putting the data from table icc_t20 into Dataframe for proper represention
df2 = pd.DataFrame(c.fetchall(), columns = ["id","Rank","Team","Weighted Matches","Points","Rating"])  
#print(df2)

df3= df2.iloc[:, 1:]
print(df3)

#df.to_csv("employee.csv")
conn.close()

(0, 1, 'Pakistan', 33, '8,926', 270)
(1, 2, 'Australia', 29, '7,815', 269)
(2, 3, 'England', 24, '6,407', 267)
(3, 4, 'India', 46, '12,141', 264)
(4, 5, 'South Africa', 24, '6,220', 259)

    Rank          Team  Weighted Matches  Points  Rating
0      1      Pakistan                33   8,926     270
1      2     Australia                29   7,815     269
2      3       England                24   6,407     267
3      4         India                46  12,141     264
4      5  South Africa                24   6,220     259
..   ...           ...               ...     ...     ...
82    83        Rwanda                 6       0       0
83    84     Swaziland                 6       0       0
84    85        Gambia                 6       0       0
85    86         China                11       0       0
86    87        Turkey                 6       0       0

[87 rows x 5 columns]